<main class="valign-wrapper" itemscope itemtype="http://schema.org/Game">
    <div class="container grey-text text-lighten-1 ">

        <div class="row">
            <div class="col s12 m8">
                <div class="brand">
                    <img src="img/logo.png?v=<%- VERSION %>"
                         alt="آیکون بازی تورکلمات، جواب های تور کلمات رو پیدا کن و ساعت ها سرگرم شو"
                         class="icon">
                    <div class="heading">
                        <h1 class="title white-text">تور کلمات</h1>
                        <h2 class="subtitle white-text">
                            جدول کلمات اعتیادآور، ساعت ها سرگرمی را با پیدا کردن جواب های تور کلمات تجربه کنید!
                        </h2>
                    </div>
                </div>

                <p class="flow-text white-text justify-align">
                    تور کلمات یه بازی کاملا جدید توی سبک کلمات با مناظر زیبا و دلربا اینجاست تا لحظه های کسل کنندتون رو
                    پر از شادی و سرگرمی کنه! اگه به تازگی با خانواده بازی های کلمه‌ای آشنا شدی حتما این بازی <b>اعتیادآور</b>
                    و پرورش دهنده‌ی ذهن رو نصب کن تا از دنیای جدید کلمات شگفت زده شی! این بازی <b>قلب</b> و <b>ذهن</b>
                    شما رو درگیر پیدا کردن جواب های تور کلمات می‌کنه و میتونه ساعت ها به دور از مشغله های دنیای روزمره
                    سرگرمتون کنه
                </p>

                <div class="center-align download-btns">

                    <a href="https://redirect.appmetrica.yandex.com/serve/26486984226675125"
                            <% //onclick="gtag_report_conversion('https://redirect.appmetrica.yandex.com/serve/26486984226675125')" %>
                       target="_blank">
                        <img src="img/btn/appstore.jpg?v=<%- VERSION %>"
                             alt="دکمه دانلود بازی تورکلمات برای iOS (آیفون)">
                    </a>

                    <a href="https://redirect.appmetrica.yandex.com/serve/1179408491484285980"
                            <% //onclick="gtag_report_conversion('https://redirect.appmetrica.yandex.com/serve/1179408491484285980')" %>
                       target="_blank">
                        <img src="img/btn/playstore.jpg?v=<%- VERSION %>"
                             alt="دکمه بازی تورکلمات برای اندروید">
                    </a>


                </div>

            </div>

            <div class="col s12 m4">

                <div class="screenshot">
                    <img src="img/screenshot.png?v=<%- VERSION %>"
                         alt="جدول کلمات اعتیادآور، ساعت ها سرگرمی را با پیدا کردن جواب های تور کلمات تجربه کنید!">
                </div>

            </div>
        </div>

    </div>
</main>
